<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5>Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/user/create" method="POST">
                    <div class="form-group">
                        <label>User Name</label>
                        <input class="form-control" type="text" id="frm-reg-lname" name="customerUserName">
                    </div>
                    <div class="form-group">
                        <label for="frm-reg-password">Password</label>
                        <input class="form-control" type="password" id="frm-reg-password" name="customerPassword">
                    </div>
                    <div class="form-group">
                        <label for="frm-reg-email">Full Name *</label>
                        <input class="form-control" type="text" id="frm-reg-email" name="customerName" >
                    </div>
                    <div class="form-group">
                        <label for="frm-reg-email">Phone Number*</label>
                        <input class="form-control" type="text" id="frm-reg-email" name="customerPhone" >
                    </div>
                    <div class="form-group">
                        <label for="frm-reg-email">Email*</label>
                        <input class="form-control" type="text" id="frm-reg-email" name="customerEmail" >
                    </div>
                    <div class="form-group">
                        <label for="frm-reg-email">Address*</label>
                        <input class="form-control" type="text" id="frm-reg-email" name="customerAddress" >
                    </div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>

        </div>
    </div>
</div>